<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <style>
        .main{
            background-color: rgb(201, 236, 130);
        }
    </style>
</head>
<body>
    <h1>Kimi的boot首頁</h1>

        <!--導覽列-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Kimi的導覽列</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">回到首頁</a>
                  <a class="nav-link" href="{{url_for('kneel')}}">跪主機板_kneel</a>
                  <a class="nav-link" href="{{url_for('dust')}}">我在東北玩泥巴_dust</a>
                  <a class="nav-link disabled">今晚睡地板</a>
                </div>
              </div>
            </div>
        </nav>
        <!--導覽列-->
    </div>
<div class="container main">
{%block content%}

{%endblock%}

</div>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
   
</body>
</html>